html {
    font-family: Helvetica, sans-serif;
}

body {
    background-color: #32404e;
}

#inputText {
    color: white;
}

table, td, th, tr {
    border: 2px solid black;
}

table {
    color: white;
    border-collapse: collapse;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    font-size: 1.5em;
}

th {
    color: black;
    background-color: #666666;
}
  
td, th {
    text-align: left;
    padding: 8px;
}
  
tr:nth-child(even) {
    background-color: #63b3fd;
}

tr:nth-child(odd) {
    background-color: grey;
}

#removeButton {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

#removeButton:hover {
    color: red;
}

input {
    width: 50%;
    padding: 8px 8px;
    margin: 8px 0;
    box-sizing: border-box;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    outline: none;
    border-radius: 6px;
}

input:focus {
    border: 3px solid #63b3fd;
}

#submit {
    background-color: grey;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 6px;
    margin-bottom: 4%;
}

#search {
    width: 50%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 2px solid black;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#search:focus {
    border: 2px solid #aed5fa;
}